// ! COLOR CUBE

$white: #fff;
$bayofmany: #224184;
$silver: #bcbcbc;
$codgray: #1b1b1b;
$tuliptree: #ef6f31;
$boulder: #797979;
$cerulean: #029fcc;
$thunderbird: #d71f18;
$malibu: #69a0fd;
$wainut: #784619;

// ! MEDIAN CUT

$pickledbluewood: #374a5e;
$hintofred:#f4f0ef;
$tussock: #cc9f4c;
$towergray: #a3b8be;
$matrix: #a65d50;

// ! MATERIAL DESING

//tucson
$dustygray: #9a9898;
// bay of many
$smaltblue: #4f7f85;
$icecold: #b1e4f4;

// ! FONTS
$main-font: "Poppins", sans-serif;
