@use './partials/variables' as *;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../node_modules/@fontsource/poppins/index.css';
@import '../../node_modules/@fontsource/allura/index.css';
@import '../../node_modules/@fontsource/poppins/600.css';
@import '../../node_modules/@fontsource/poppins/700.css';

// ! DEBUG

.debug1{
    background-color: rgba(255, 0, 0, .5);
    border: 1px solid red;
}
.debug2{
    background-color: rgba(0, 255, 0, .5);
    border: 1px solid lightgreen;
}
.debug3{
    background-color: rgba(0, 0, 255, .5);
    border: 1px solid lightblue;
}

body{
    font-family: $main-font;
    //background-color: #333;
}

img{
    max-width: 100%;
}

.my-container{
    width: 80%;
    margin: 0 auto;
}

.my-btn{
    font-size: .8rem;
    font-weight: 600;
    color: $white;
    border: none;
    outline: none;
}

.hand-write{
    font-family: "Allura", cursive;
    font-size: 4rem;
    color: $cerulean;
}

.subtitle{
    font-weight: 600;
}

button.btn:hover{
    background-color: $icecold;
    color: $white;
}